<a href="https://colab.research.google.com/github/ipejun-ai/m5-accuracy/blob/master/m5_lags_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# General imports
import numpy as np
import pandas as pd
import os, sys, gc, time, warnings, pickle, psutil, random

import time

warnings.filterwarnings('ignore')

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
DIRPATH="/content/gdrive/My Drive/kaggle/"
#DIRPATH="C:/Users/peiju/Documents/Study/kaggle/m5-forecasting-accuracy/"

In [0]:
## Simple "Memory profilers" to see memory usage
def get_memory_usage():
    return np.round(psutil.Process(os.getpid()).memory_info()[0]/2.**30, 2) 
        
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f%s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f%s%s" % (num, 'Yi', suffix)

In [0]:
########################### Vars
#################################################################################
TARGET = 'sales'         # Our main target
END_TRAIN = 1913         # Last day in train set
MAIN_INDEX = ['id','d']  # We can identify item by these columns

In [0]:
########################### Load Data
#################################################################################
print('Load Main Data')

# We will need only train dataset
# to show lags concept
train_df = pd.read_csv(DIRPATH+'/sales_train_validation.csv')

# To make all calculations faster
# we will limit dataset by 'CA' state
train_df = train_df[train_df['state_id']=='CA']

Load Main Data

In [0]:
########################### Data Representation
#################################################################################

# Let's check our shape
print('Shape', train_df.shape)

Shape (12196, 1919)

In [0]:
## Horizontal representation

# If we feed directly this data to model
# our label will be values in column 'd_1913'
# all other columns will be our "features"

# In lag terminology all d_1->d_1912 columns
# are our lag features 
# (target values in previous time period)

# Good thing that we have a lot of features here
# Bad thing is that we have just 12196 "train rows"
# Note: here and after all numbers are limited to 'CA' state
train_df.iloc[:10]

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...      1      1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...      7      2
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...      2      4
5  HOBBIES_1_006_CA_1_validation  HOBBIES_1_006  ...      0      0
6  HOBBIES_1_007_CA_1_validation  HOBBIES_1_007  ...      1      1
7  HOBBIES_1_008_CA_1_validation  HOBBIES_1_008  ...      2      1
8  HOBBIES_1_009_CA_1_validation  HOBBIES_1_009  ...      0      0
9  HOBBIES_1_010_CA_1_validation  HOBBIES_1_010  ...      0      2

[10 rows x 1919 columns]

In [0]:
## Vertical representation

# In other hand we can think of d_ columns
# as additional labels and can significantly 
# scale up our training set to 23330948 rows

# Good thing that our model will have 
# greater input for training
# Bad thing that we are losing lags that we had
# in horizontal representation and
# also new data set consumes much more memory

index_columns = ['id','item_id','dept_id','cat_id','store_id','state_id']
train_df = pd.melt(train_df, 
                  id_vars = index_columns, 
                  var_name = 'd', 
                  value_name = TARGET)

train_df[train_df['id']=='HOBBIES_1_001_CA_1_validation'].iloc[:10]

                                   id        item_id  ...     d sales
0       HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...   d_1     0
12196   HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...   d_2     0
24392   HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...   d_3     0
36588   HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...   d_4     0
48784   HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...   d_5     0
60980   HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...   d_6     0
73176   HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...   d_7     0
85372   HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...   d_8     0
97568   HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...   d_9     0
109764  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...  d_10     0

[10 rows x 8 columns]

In [0]:
## Some minification
train_df['d'] = train_df['d'].apply(lambda x: x[2:]).astype(np.int16)

icols = ['id','item_id','dept_id','cat_id','store_id','state_id']
for col in icols:
    train_df[col] = train_df[col].astype('category')

In [0]:
########################### Lags creation
#################################################################################

# We have several "code" solutions here
# As our dataset is allready sorted by d values
# we can simply shift() values
# also we have to keep in mind that 
# we need to aggregate values on 'id' level

# group and shift in loop
temp_df = train_df[['id','d',TARGET]]

start_time = time.time()
for i in range(1,8):
    print('Shifting:', i)
    temp_df['lag_'+str(i)] = temp_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(i))
    
print('%0.2f min: Time for loops' % ((time.time() - start_time) / 60))


# Or same in "compact" manner
LAG_DAYS = [col for col in range(1,8)]
temp_df = train_df[['id','d',TARGET]]

start_time = time.time()
temp_df = temp_df.assign(**{
        '{}_lag_{}'.format(col, l): temp_df.groupby(['id'])[col].transform(lambda x: x.shift(l))
        for l in LAG_DAYS
        for col in [TARGET]
    })

print('%0.2f min: Time for bulk shift' % ((time.time() - start_time) / 60))

Shifting: 1
Shifting: 2
Shifting: 3
Shifting: 4
Shifting: 5
Shifting: 6
Shifting: 7
1.71 min: Time for loops
1.49 min: Time for bulk shift

In [0]:
# The result
temp_df[temp_df['id']=='HOBBIES_1_001_CA_1_validation'].iloc[:10]

# You can notice many NaNs values - it's normal
# because there is no data for day 0,-1,-2
# (out of dataset time periods)

# Same works for test set
# be careful to make lag features:
# for day 1920 there is no data about day 1919 (until 1913)
# So if you want to predict day 1915 your 
# lag features have to start from 2 
# (1915(predicting day) - 1913(last day with label in dataset))
# and so on.

# There are few options to work 
# with NaNs in train set
## 1. drop it train_df[train_df['d']>MAX_LAG_DAY] 
## 1.1 in our case we already dropped some lines by release date
##     so you have find d.min() for each id
##     and drop train_df[train_df['d']>(train_df['d_min']+MAX_LAG_DAY)] 
## 2. If you want to keep it you can 
##    fill with '-1' to be able to convert to int
## 3. Leave as it is
## 4. Fill with mean -> not recommended

                                   id   d  ...  sales_lag_6  sales_lag_7
0       HOBBIES_1_001_CA_1_validation   1  ...          NaN          NaN
12196   HOBBIES_1_001_CA_1_validation   2  ...          NaN          NaN
24392   HOBBIES_1_001_CA_1_validation   3  ...          NaN          NaN
36588   HOBBIES_1_001_CA_1_validation   4  ...          NaN          NaN
48784   HOBBIES_1_001_CA_1_validation   5  ...          NaN          NaN
60980   HOBBIES_1_001_CA_1_validation   6  ...          NaN          NaN
73176   HOBBIES_1_001_CA_1_validation   7  ...          0.0          NaN
85372   HOBBIES_1_001_CA_1_validation   8  ...          0.0          0.0
97568   HOBBIES_1_001_CA_1_validation   9  ...          0.0          0.0
109764  HOBBIES_1_001_CA_1_validation  10  ...          0.0          0.0

[10 rows x 10 columns]

In [0]:
########################### Rolling lags
#################################################################################

# We restored some day sales values from horizontal representation
# as lag features but just few of them (last 7 days or less)
# because of memory limits we can't have many lag features
# How we can get additional information from other days?

## Rolling aggragations

temp_df = train_df[['id','d','sales']]

start_time = time.time()

for i in [14,30,60]:
    print('Rolling period:', i)
    temp_df['rolling_mean_'+str(i)] = temp_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(1).rolling(i).mean())
    temp_df['rolling_std_'+str(i)]  = temp_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(1).rolling(i).std())

# lambda x: x.shift(1)
# 1 day shift will serve only to predict day 1914
# for other days you have to shift PREDICT_DAY-1913

# Such aggregations will help us to restore
# at least part of the information for our model
# and out of 14+30+60->104 columns we can have just 6
# with valuable information (hope it is sufficient)
# you can also aggregate by max/skew/median etc 
# also you can try other rolling periods 180,365 etc
print('%0.2f min: Time for loop' % ((time.time() - start_time) / 60))

Rolling period: 14
Rolling period: 30
Rolling period: 60
1.84 min: Time for loop

In [0]:
# The result
temp_df[temp_df['id']=='HOBBIES_1_002_CA_1_validation'].iloc[:20]

# Same for NaNs values - it's normal
# because there is no data for 
# 0*(rolling_period),-1*(rolling_period),-2*(rolling_period)

                                   id   d  ...  rolling_mean_60  rolling_std_60
1       HOBBIES_1_002_CA_1_validation   1  ...              NaN             NaN
12197   HOBBIES_1_002_CA_1_validation   2  ...              NaN             NaN
24393   HOBBIES_1_002_CA_1_validation   3  ...              NaN             NaN
36589   HOBBIES_1_002_CA_1_validation   4  ...              NaN             NaN
48785   HOBBIES_1_002_CA_1_validation   5  ...              NaN             NaN
60981   HOBBIES_1_002_CA_1_validation   6  ...              NaN             NaN
73177   HOBBIES_1_002_CA_1_validation   7  ...              NaN             NaN
85373   HOBBIES_1_002_CA_1_validation   8  ...              NaN             NaN
97569   HOBBIES_1_002_CA_1_validation   9  ...              NaN             NaN
109765  HOBBIES_1_002_CA_1_validation  10  ...              NaN             NaN
121961  HOBBIES_1_002_CA_1_validation  11  ...              NaN             NaN
134157  HOBBIES_1_002_CA_1_validation  12  ...              NaN             NaN
146353  HOBBIES_1_002_CA_1_validation  13  ...              NaN             NaN
158549  HOBBIES_1_002_CA_1_validation  14  ...              NaN             NaN
170745  HOBBIES_1_002_CA_1_validation  15  ...              NaN             NaN
182941  HOBBIES_1_002_CA_1_validation  16  ...              NaN             NaN
195137  HOBBIES_1_002_CA_1_validation  17  ...              NaN             NaN
207333  HOBBIES_1_002_CA_1_validation  18  ...              NaN             NaN
219529  HOBBIES_1_002_CA_1_validation  19  ...              NaN             NaN
231725  HOBBIES_1_002_CA_1_validation  20  ...              NaN             NaN

[20 rows x 9 columns]

In [0]:
########################### Memory ussage
#################################################################################
# Let's check our memory usage
print("{:>20}: {:>8}".format('Original rolling df',sizeof_fmt(temp_df.memory_usage(index=True).sum())))

# can we minify it?
# 1. if our dataset are aligned by index 
#    you don't need 'id' 'd' 'sales' columns
temp_df = temp_df.iloc[:,3:]
print("{:>20}: {:>8}".format('Values rolling df',sizeof_fmt(temp_df.memory_usage(index=True).sum())))

# can we make it even smaller?
# carefully change dtype and/or
# use sparce matrix to minify 0s
# Also note that lgbm accepts matrixes as input
# that is good for memory reducion 
from scipy import sparse 
temp_matrix = sparse.csr_matrix(temp_df)

# restore to df
temp_matrix_restored = pd.DataFrame(temp_matrix.todense())
restored_cols = ['roll_' + str(i) for i in list(temp_matrix_restored)]
temp_matrix_restored.columns = restored_cols

 Original rolling df:   1.3GiB
   Values rolling df:   1.0GiB

In [0]:
########################### Remove old objects
#################################################################################
del temp_df, train_df, temp_matrix, temp_matrix_restored

In [0]:
########################### Apply on grid_df
#################################################################################
# lets read grid from 
# https://www.kaggle.com/kyakovlev/m5-simple-fe
# to be sure that our grids are aligned by index
grid_df = pd.read_pickle(DIRPATH+'/output/m5-simple-fe/grid_part_1.pkl')

# We need only 'id','d','sales'
# to make lags and rollings
grid_df = grid_df[['id','d','sales']]
SHIFT_DAY = 28

# Lags
# with 28 day shift
start_time = time.time()
print('Create lags')

LAG_DAYS = [col for col in range(SHIFT_DAY,SHIFT_DAY+15)]
grid_df = grid_df.assign(**{
        '{}_lag_{}'.format(col, l): grid_df.groupby(['id'])[col].transform(lambda x: x.shift(l))
        for l in LAG_DAYS
        for col in [TARGET]
    })

# Minify lag columns
for col in list(grid_df):
    if 'lag' in col:
        grid_df[col] = grid_df[col].astype(np.float16)

print('%0.2f min: Lags' % ((time.time() - start_time) / 60))

# Rollings
# with 28 day shift
start_time = time.time()
print('Create rolling aggs')

for i in [7,14,30,60,180]:
    print('Rolling period:', i)
    grid_df['rolling_mean_'+str(i)] = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).mean()).astype(np.float16)
    grid_df['rolling_std_'+str(i)]  = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).std()).astype(np.float16)

# Rollings
# with sliding shift
for d_shift in [1,7,14]: 
    print('Shifting period:', d_shift)
    for d_window in [7,14,30,60]:
        col_name = 'rolling_mean_tmp_'+str(d_shift)+'_'+str(d_window)
        grid_df[col_name] = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(d_shift).rolling(d_window).mean()).astype(np.float16)
    
    
print('%0.2f min: Lags' % ((time.time() - start_time) / 60))

Create lags
7.08 min: Lags
Create rolling aggs
Rolling period: 7
Rolling period: 14
Rolling period: 30
Rolling period: 60
Rolling period: 180
Shifting period: 1
Shifting period: 7
Shifting period: 14
16.01 min: Lags

In [0]:
########################### Export
#################################################################################
print('Save lags and rollings')
grid_df.to_pickle(DIRPATH+'/m5-lags-features/lags_df_'+str(SHIFT_DAY)+'.pkl')

Save lags and rollings

In [0]:
########################### Final list of new features
#################################################################################
grid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46881677 entries, 0 to 46881676
Data columns (total 40 columns):
 #   Column                  Dtype
---  ------                  -----
 0   id                      category
 1   d                       int16
 2   sales                   float64
 3   sales_lag_28            float16
 4   sales_lag_29            float16
 5   sales_lag_30            float16
 6   sales_lag_31            float16
 7   sales_lag_32            float16
 8   sales_lag_33            float16
 9   sales_lag_34            float16
 10  sales_lag_35            float16
 11  sales_lag_36            float16
 12  sales_lag_37            float16
 13  sales_lag_38            float16
 14  sales_lag_39            float16
 15  sales_lag_40            float16
 16  sales_lag_41            float16
 17  sales_lag_42            float16
 18  rolling_mean_7          float16
 19  rolling_std_7           float16
 20  rolling_mean_14         float16
 21  rolling_std_14          float16
 22  rolling_mean_30         float16
 23  rolling_std_30          float16
 24  rolling_mean_60         float16
 25  rolling_std_60          float16
 26  rolling_mean_180        float16
 27  rolling_std_180         float16
 28  rolling_mean_tmp_1_7    float16
 29  rolling_mean_tmp_1_14   float16
 30  rolling_mean_tmp_1_30   float16
 31  rolling_mean_tmp_1_60   float16
 32  rolling_mean_tmp_7_7    float16
 33  rolling_mean_tmp_7_14   float16
 34  rolling_mean_tmp_7_30   float16
 35  rolling_mean_tmp_7_60   float16
 36  rolling_mean_tmp_14_7   float16
 37  rolling_mean_tmp_14_14  float16
 38  rolling_mean_tmp_14_30  float16
 39  rolling_mean_tmp_14_60  float16
dtypes: category(1), float16(37), float64(1), int16(1)
memory usage: 3.8 GB